<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="7d4e67a6-cdc7-4513-a6a8-0e6805d4eb86" wadlVersion="http://wadl.dev.java.net/2009/02" name="CreateUser" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="7d4e67a6-cdc7-4513-a6a8-0e6805d4eb86fileName">CreateUser</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>http://tekschool-test-env.herokuapp.com</con:endpoint>
  </con:endpoints>
</con:interface>
